@page "/customers/edit/{id:guid}"

@using Billing.Application.Data.Models;
@using Billing.Application.Data.Services.Contracts;

@inject ICustomerService _customerService
@inject ICityService _cityService
@inject NavigationManager _navigationManager

<h1>Detalles del cliente</h1>

<EditForm Model="@Customer">
    <DataAnnotationsValidator/>
    <table class="table">
        <tr>
            <td>FirstName: </td>
            <td><input type="text" @bind="Customer.Name" /></td>
            <ValidationMessage For="(()=> Customer.Name)"/>
        </tr>
        <tr>
            <td>LastName: </td>
            <td><input type="text" @bind="Customer.LastName" /></td>
            <ValidationMessage For="(()=> Customer.LastName)" />
        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" @bind="Customer.Address" /></td>
            <ValidationMessage For="(()=> Customer.Address)" />
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" @bind="Customer.Email" /></td>
            <ValidationMessage For="(()=> Customer.Email)" />
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="Password" @bind="Customer.Password" /></td>
            <ValidationMessage For="(()=> Customer.Password)" />
        </tr>
        <tr>
            <td>CityId: </td>
            <InputSelect @bind-Value="@Customer.CityId">
                <option value="">Seleccione una ciudad</option>
                @foreach (var city in cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </InputSelect>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Update" @onclick="SaveCustomer" />
                <input type="submit" value="Cancel" @onclick="CancelCustomer" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private CustomerModel Customer { get; set; } = new();

    private List<CityModel> cities = new();

    protected override async Task OnInitializedAsync()
    {
        Customer = await _customerService.GetCustomerAsync(Id);
        cities = await _cityService.GetAllCitiesAsync();
    }

    protected async Task SaveCustomer()
    {
        var customer = await _customerService.CreateCustomerAsync(this.Customer);
        if (customer)
        {
            _navigationManager.NavigateTo("/customers/list");
        }
    }

    protected void CancelCustomer()
    {
        _navigationManager.NavigateTo("/customers/list");
    }
}
