<AuthorizeView>
    <Authorized>
        <a href="/logout" class="nav-link btn btn-link">Cerrar Sesion</a>
    </Authorized>
    <NotAuthorized>
        <a href="/customers/create">Registrar Cliente</a>
        <a href="/login" class="nav-link btn btn-link">Iniciar Sesion</a>
    </NotAuthorized>
</AuthorizeView>